.listcontainer {
	display: table;
	width: 80%;
	min-width: 500px;
	/* background-color:lightgray; */
}

.editcontainer1,.editcontainer {
	display: table;
	width: 80%;
	min-width: 800px;
}

#row {
	display: table-row;
	line-height: 10px;
	height: 15px;
}

#full-length {
	/*display: table-cell;*/
	width: 100%;
	padding-top: 20px;
	/* line-height: 20px; */
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

#left {
	display: table-cell;
	width: 5%;
	padding-top: 20px;
	/* line-height: 20px; */
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

#right,#middle {
	display: table-cell;
	width: 35%;
	padding-top: 8px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #dddddd;
	font-size: 14px;
	font-style: normal;

	/*  background: #ffffff;
 */
}

#right-button {
	display: table-cell;
	width: 20%;
	padding-top: 8px;
	/* line-height: 20px; */
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #dddddd;
}

.btn-custom {
	background-color: hsl(45, 100%, 43%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5ac00",
		endColorstr="#dba400");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#e5ac00),
		to(#dba400));
	background-image: -moz-linear-gradient(top, #e5ac00, #dba400);
	background-image: -ms-linear-gradient(top, #e5ac00, #dba400);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5ac00),
		color-stop(100%, #dba400));
	background-image: -webkit-linear-gradient(top, #e5ac00, #dba400);
	background-image: -o-linear-gradient(top, #e5ac00, #dba400);
	background-image: linear-gradient(#e5ac00, #dba400);
	border-color: #dba400 #dba400 hsl(45, 100%, 42.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.03);
	-webkit-font-smoothing: antialiased;
}

.btn-delete-custom {
  background-color: hsl(0, 100%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d10000", endColorstr="#c60000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d10000), to(#c60000));
  background-image: -moz-linear-gradient(top, #d10000, #c60000);
  background-image: -ms-linear-gradient(top, #d10000, #c60000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d10000), color-stop(100%, #c60000));
  background-image: -webkit-linear-gradient(top, #d10000, #c60000);
  background-image: -o-linear-gradient(top, #d10000, #c60000);
  background-image: linear-gradient(#d10000, #c60000);
  border-color: #c60000 #c60000 hsl(0, 100%, 38.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.03);
  -webkit-font-smoothing: antialiased;
}


.makeHorizontal{
    float:left;
    padding-left:20px;
}


.control-group {
    display: inline-block;
    vertical-align: bottom;
}


.country_id {
width: 100px;

}

.bigdrop{
    width: 600px !important;

}