<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
<Properties>
    <Property name="filename">rollingtest-$${sd:type}.log</Property>
  </Properties>
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{ISO8601} %-5p %c{1}.java:%line: %m%n}"/>
    </Console>
    <RollingFile name="RollingFile" fileName="/Users/julian/Documents/workspace/HumansService/logs/the_app.log"
                 filePattern="the_app_$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
      <PatternLayout>
        <Pattern>%highlight{%d{ISO8601} %-5p %c{1}.java:%line: %m%n}</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="90 MB"/>
        <DefaultRolloverStrategy max="2"/>
      </Policies>
    </RollingFile>
    <RollingFile name="RollingFile" fileName="/Users/julian/Documents/workspace/HumansService/logs/app_raw.log"
                 filePattern="app_raw_$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
      <PatternLayout>
        <Pattern>%m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="90 MB"/>
        <DefaultRolloverStrategy max="2"/>
      </Policies>
    </RollingFile>
    <RollingFile name="RollingFile" fileName="/Users/julian/Documents/workspace/HumansService/logs/humans_test.log"
                 filePattern="humans_test_$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
      <PatternLayout>
        <Pattern>%m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <DefaultRolloverStrategy max="2"/>
      </Policies>
    </RollingFile>
      <Async name="ASYNC" includeLocation="true">
      <AppenderRef ref="TEMP"/>
      <AppenderRef ref="CONSOLE"/>
      <AppenderRef ref="RollingFile"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="ASYNC"/>
    </Root>
  </Loggers>
</Configuration>