<?xml version="1.0" encoding="UTF-8"?>
        <!-- //TODO Find a fucking rock solid place along the fucking classpath for this -->
<Configuration status="debug">
<Properties>
    <Property name="filename">rollingtest-$${sd:type}.log</Property>
  </Properties>
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="CONSOLE %-5p %c{1}.java:%line (%c{2}.java:%M:%line) - %m%n"/>
    </Console>
      <Console name="STDOUT" target="SYSTEM_OUT">
          <PatternLayout pattern="STDOUT %d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
      </Console>

    <RollingFile name="HUMANS" fileName="${sys:catalina.home}/logs/humans_app.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_app-%d{MM-dd-yyyy}-%i.log">
      <PatternLayout pattern="%highlight{%d{ISO8601} %thread %-5p %c{1}.java:%line %M() - %m%n}"/>
        <Policies>
            <TimeBasedTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="20 MB"/>
        </Policies>
        <!--<filter class="org.apache.log4j.varia.LevelMatchFilter">-->
            <!--<param name="LevelToMatch" value="WARN" />-->
            <!--<param name="AcceptOnMatch" value="true" />-->
        <!--</filter>-->
        <!--<filter class="org.apache.log4j.varia.DenyAllFilter" />-->
        <DefaultRolloverStrategy max="5"/>
    </RollingFile>
      <RollingFile name="HUMANS-REST-DEBUG" fileName="${sys:catalina.home}/logs/humans_rest_debug.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_rest-debug-%d{MM-dd-yyyy}-%i.log">
          <PatternLayout pattern="%highlight{%d{ISO8601} %thread %-5p %c{1}.java:%line %M() - %m%n}"/>
          <Policies>
              <TimeBasedTriggeringPolicy />
              <SizeBasedTriggeringPolicy size="20 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="1"/>
      </RollingFile>

      <RollingFile name="HUMANS_DB" fileName="${sys:catalina.home}/logs/humans_db.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_app-%d{MM-dd-yyyy}-%i.log">
          <PatternLayout pattern="%highlight{%d{ISO8601} %thread %-5p %c{1}.java:%line %M() - %m%n}"/>
          <Policies>
              <TimeBasedTriggeringPolicy />
              <SizeBasedTriggeringPolicy size="20 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="5"/>
      </RollingFile>

      <RollingFile name="HUMANS_BOLD" fileName="/tmp/logs/humans_app.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_app-%d{MM-dd-yyyy}-%i.log">
          <PatternLayout pattern="%highlight{%d{ISO8601} %style{%thread}{bold,cyan} %-5p %c{1}.java:%line %M() - %m%n}"/>
          <Policies>
              <TimeBasedTriggeringPolicy />
              <SizeBasedTriggeringPolicy size="20 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="5"/>
      </RollingFile>
      <RollingFile name="QUARTZ" fileName="${sys:catalina.home}/logs/humans_quartz.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_quartz-%d{MM-dd-yyyy}-%i.log">
          <PatternLayout pattern="%highlight{%d{ISO8601} %-5p [%18.18t] %c{1}:%line %M() - %m%n}"/>
          <Policies>
              <TimeBasedTriggeringPolicy />
              <SizeBasedTriggeringPolicy size="20 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="5"/>
      </RollingFile>

      <RollingFile name="QUARTZ_QUIET" fileName="${sys:catalina.home}/logs/humans_quiet_quartz.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_quartz-%d{MM-dd-yyyy}-%i.log">
          <PatternLayout pattern="%highlight{%d{ISO8601} %-5p [%18.18t] %c{1}:%line %M() - %m%n}"/>
          <Policies>
              <TimeBasedTriggeringPolicy />
              <SizeBasedTriggeringPolicy size="20 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="2"/>
      </RollingFile>

      <RollingFile name="TWITTER" fileName="${sys:catalina.home}/logs/humans_twitter.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_quartz-%d{MM-dd-yyyy}-%i.log">
          <PatternLayout pattern="%highlight{%d{ISO8601} %-5p [%18.18t] %c{1}:%line %M() - %m%n}"/>
          <Policies>
              <TimeBasedTriggeringPolicy />
              <SizeBasedTriggeringPolicy size="20 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="2"/>
      </RollingFile>


      <RollingFile name="HUMANS_ERROR" fileName="${sys:catalina.home}/logs/humans_error.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_error-%d{MM-dd-yyyy}-%i.log">
          <PatternLayout pattern="%highlight{%d{ISO8601} %-5p %c{1}.java:%line %M() - %m%n}"/>
          <Policies>
              <TimeBasedTriggeringPolicy />
              <SizeBasedTriggeringPolicy size="20 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="5"/>
      </RollingFile>


      <Async name="ASYNC" includeLocation="true">
      <AppenderRef ref="HUMANS"/>
      <AppenderRef ref="QUARTZ"/>
      </Async>
  </Appenders>

  <Loggers>
      <logger name="com.nearfuturelaboratory.humans.rest.UserHandler" level="trace" additivity="false">
          <appender-ref ref="HUMANS_ERROR" level="warn"/>
          <appender-ref ref="HUMANS-REST-DEBUG" level="debug"/>
          <appender-ref ref="HUMANS" level="info"/>

      </logger>
      <logger name="com.nearfuturelaboratory.humans.rest.HumanHandler" level="trace" additivity="false">
          <appender-ref ref="HUMANS_ERROR" level="warn"/>
          <appender-ref ref="HUMANS-REST-DEBUG" level="debug"/>
          <appender-ref ref="HUMANS" level="info"/>

      </logger>
      <logger name="com.nearfuturelaboratory.humans.rest.AuthServices" level="trace" additivity="false">
          <appender-ref ref="HUMANS_ERROR" level="warn"/>
          <appender-ref ref="HUMANS-REST-DEBUG" level="debug"/>
          <appender-ref ref="HUMANS" level="info"/>
      </logger>


      <logger name="com.nearfuturelaboratory.humans.service.FlickrService" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="info"/>
          <appender-ref ref="QUARTZ" level="warn"/>

      </logger>
      <logger name="com.nearfuturelaboratory.humans.service.InstagramService" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="info"/>
          <appender-ref ref="QUARTZ" level="warn"/>

      </logger>

      <logger name="com.nearfuturelaboratory.humans.service.FoursquareService" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="info"/>
          <appender-ref ref="QUARTZ" level="warn"/>

      </logger>
      <logger name="com.nearfuturelaboratory.humans.service.TwitterService" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="info"/>
          <appender-ref ref="QUARTZ" level="warn"/>
          <appender-ref ref="TWITTER" level="debug"/>
      </logger>

      <logger name="com.nearfuturelaboratory.humans.dao.InstagramStatusDAO" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="warn"/>
          <appender-ref ref="HUMANS_DB" level="info"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.dao.InstagramUserDAO" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="warn"/>
          <appender-ref ref="HUMANS_DB" level="info"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.servlets.FlickrLoginServlet" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="info"/>
          <appender-ref ref="HUMANS-REST-DEBUG" level="debug"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.dao.InstagramFriendsDAO" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="warn"/>
          <appender-ref ref="HUMANS_DB" level="info"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.dao.FlickrStatusDAO" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="warn"/>
          <appender-ref ref="HUMANS_DB" level="info"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.dao.FlickrFollowsDAO" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="warn"/>
          <appender-ref ref="HUMANS_DB" level="info"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.dao.FlickrUserDAO" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="warn"/>
          <appender-ref ref="HUMANS_DB" level="info"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.dao.TwitterUserDAO" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="warn"/>
          <appender-ref ref="HUMANS_DB" level="info"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.dao.TwitterFollowsDAO" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="warn"/>
          <appender-ref ref="HUMANS_DB" level="info"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.dao.TwitterStatusDAO" level="trace" additivity="false">
          <appender-ref ref="HUMANS" level="warn"/>
          <appender-ref ref="HUMANS_DB" level="info"/>
      </logger>

      <!--<logger name="com.nearfuturelaboratory.humans.scheduler.ScheduledFriendsPrefetcher" level="trace" additivity="false">-->
          <!--<appender-ref ref="QUARTZ" level="info"/>-->
      <!--</logger>-->


      <!--<logger name="com.nearfuturelaboratory.humans.scheduler.ScheduledStatusFetcher" additivity="false">-->
          <!--<level value="warn">-->
          <!--<appender-ref ref="QUARTZ"/>-->
          <!--</level>-->
      <!--</logger>-->
      <!--<logger name="com.nearfuturelaboratory.humans.scheduler.ScheduledStatusFetcher" level="warn" additivity="false">-->
          <!--<appender-ref ref="HUMANS_ERROR"/>-->
      <!--</logger>-->
      <logger name="com.nearfuturelaboratory.humans.scheduler.ScheduledStatusFetcher"  level="trace" additivity="false">
          <appender-ref ref="QUARTZ" level="info"/>
          <appender-ref ref="QUARTZ_QUIET" level="info"/>
      </logger>



      <logger name="com.nearfuturelaboratory.humans.scheduler.ScheduledHumanStatusFetcher" level="trace" additivity="false">
          <appender-ref ref="QUARTZ" level="info"/>
          <appender-ref ref="HUMANS_ERROR" level="warn"/>
          <appender-ref ref="QUARTZ_QUIET" level="info"/>

      </logger>

      <logger name="com.nearfuturelaboratory.humans.scheduler.ScheduledFriendsPrefetcher" level="trace" additivity="false">
          <appender-ref ref="HUMANS_ERROR" level="warn"/>
          <appender-ref ref="QUARTZ_QUIET" level="info"/>
          <appender-ref ref="QUARTZ" level="info"/>
          <appender-ref ref="TWITTER" level="debug"/>

      </logger>


      <logger name="com.nearfuturelaboratory.humans.entities.HumansUser" level="trace" additivity="false">
          <appender-ref ref="HUMANS_ERROR" level="warn"/>
          <appender-ref ref="QUARTZ" level="info"/>
          <appender-ref ref="HUMANS" level="warn"/>
          <appender-ref ref="QUARTZ_QUIET" level="warn"/>
      </logger>

      <logger name="com.nearfuturelaboratory.servlets.StartupServlet" level="trace" additivity="false">
          <appender-ref ref="QUARTZ" level="info"/>
          <appender-ref ref="HUMANS" level="debug"/>
      </logger>


      <logger name="org.mongodb.morphia" level="trace" additivity="false">
          <appender-ref ref="HUMANS_DB" level="info"/>
      </logger>


      <Logger name="com.jayway" level="info" additivity="false">
          <AppenderRef ref="HUMANS"/>
      </Logger>
      <Logger name="org.quartz" level="trace" additivity="false">
          <AppenderRef ref="QUARTZ" level="info"/>
          <AppenderRef ref="QUARTZ_QUIET" level="info"/>

      </Logger>
    <Root level="error">
      <AppenderRef ref="HUMANS_ERROR" level="warn"/>
        <AppenderRef ref="CONSOLE" level="warn"/>

    </Root>

  </Loggers>
</Configuration>