<?xml version="1.0" encoding="UTF-8"?>
        <!-- //TODO Find a fucking rock solid place along the fucking classpath for this -->
<Configuration status="debug">
<Properties>
    <Property name="filename">rollingtest-$${sd:type}.log</Property>
  </Properties>
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="CONSOLE %-5p %c{1}.java:%line (%c{2}.java:%M:%line) - %m%n"/>
    </Console>
      <Console name="STDOUT" target="SYSTEM_OUT">
          <PatternLayout pattern="STDOUT %d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
      </Console>
<!--
    <RollingFile name="RollingFile" fileName="/Volumes/Slippy/Users/julian/Documents/workspace/HumansService/logs/the_app.log"
                 filePattern="humans_test_$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
      <PatternLayout>
        <Pattern>%highlight{%d{ISO8601} %-5p %c{1}.java:%line (%c{2}.java:%M()) - %m%n}</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB"/>
        <DefaultRolloverStrategy max="2"/>
      </Policies>
    </RollingFile>
-->
    <RollingFile name="HUMANS" fileName="${sys:catalina.home}/logs/humans_app.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_app-%d{MM-dd-yyyy}-%i.log">
      <PatternLayout pattern="%highlight{%d{ISO8601} %thread %-5p %c{1}.java:%line %M() - %m%n}"/>
        <Policies>
            <TimeBasedTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="20 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="5"/>
    </RollingFile>
      <RollingFile name="HUMANS_DB" fileName="${sys:catalina.home}/logs/humans_db.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_app-%d{MM-dd-yyyy}-%i.log">
          <PatternLayout pattern="%highlight{%d{ISO8601} %thread %-5p %c{1}.java:%line %M() - %m%n}"/>
          <Policies>
              <TimeBasedTriggeringPolicy />
              <SizeBasedTriggeringPolicy size="20 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="5"/>
      </RollingFile>

      <RollingFile name="HUMANS_BOLD" fileName="${sys:catalina.home}/logs/humans_app.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_app-%d{MM-dd-yyyy}-%i.log">
          <PatternLayout pattern="%highlight{%d{ISO8601} %style{%thread}{bold,cyan} %-5p %c{1}.java:%line %M() - %m%n}"/>
          <Policies>
              <TimeBasedTriggeringPolicy />
              <SizeBasedTriggeringPolicy size="20 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="5"/>
      </RollingFile>
      <RollingFile name="QUARTZ" fileName="${sys:catalina.home}/logs/humans_quartz.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_quartz-%d{MM-dd-yyyy}-%i.log">
          <PatternLayout pattern="%highlight{%d{ISO8601} %-5p %c{1}.java:%line %M() - %m%n}"/>
          <Policies>
              <TimeBasedTriggeringPolicy />
              <SizeBasedTriggeringPolicy size="20 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="5"/>
      </RollingFile>
      <RollingFile name="HUMANS_ERROR" fileName="${sys:catalina.home}/logs/humans_error.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/$${date:dd}/humans_error-%d{MM-dd-yyyy}-%i.log">
          <PatternLayout pattern="%highlight{%d{ISO8601} %-5p %c{1}.java:%line %M() - %m%n}"/>
          <Policies>
              <TimeBasedTriggeringPolicy />
              <SizeBasedTriggeringPolicy size="20 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="5"/>
      </RollingFile>


      <Async name="ASYNC" includeLocation="true">
      <AppenderRef ref="HUMANS"/>
      <AppenderRef ref="QUARTZ"/>
      </Async>
  </Appenders>
  <Loggers>
      <!--<logger name="com.nearfuturelaboratory.humans" level="warn">-->
          <!--<appender-ref ref="HUMANS_ERROR"/>-->
      <!--</logger>-->
      <logger name="com.nearfuturelaboratory.humans.entities" level="debug">
          <appender-ref ref="HUMANS"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.rest" level="debug">
          <appender-ref ref="HUMANS"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.oauth" level="info">
          <appender-ref ref="HUMANS"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.service" level="debug">
          <appender-ref ref="HUMANS"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.service" level="warn">
          <appender-ref ref="QUARTZ"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.dao" level="info">
          <appender-ref ref="HUMANS"/>
          <appender-ref ref="HUMANS_DB"/>
      </logger>
      <logger name="com.nearfuturelaboratory.humans.scheduler" level="info">
          <!--appender-ref ref="HUMANS_BOLD"/-->
          <appender-ref ref="QUARTZ"/>
      </logger>
      <logger name="org.mongodb.morphia" level="error">
          <appender-ref ref="HUMANS_DB"/>
      </logger>


      <Logger name="com.jayway" level="info">
          <AppenderRef ref="HUMANS"/>
      </Logger>
      <Logger name="org.quartz" level="info">
          <AppenderRef ref="QUARTZ"/>
      </Logger>
    <Root level="error">
      <AppenderRef ref="HUMANS_ERROR" level="error"/>
        <AppenderRef ref="CONSOLE" level="error"/>

    </Root>

  </Loggers>
</Configuration>