<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>TestTomcat</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	

	<servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.nearfuturelaboratory.humans.rest;com.nearfuturelaboratory.humans.oauth,com.nearfuturelaboratory.humans.servlets</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
		<url-pattern>/oauth2/*</url-pattern>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>org.apache.logging.log4j.core.web.Log4jServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
    </listener>
    <description>A Startup Servlet</description>
    <servlet>
        <servlet-name>startup-init</servlet-name>
        <servlet-class>com.nearfuturelaboratory.servlets.StartupServlet</servlet-class>
        <init-param>
            <param-name>props-files</param-name>
            <param-value>./WEB-INF/lib/dev.logger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>constants</param-name>
            <param-value>./WEB-INF/lib/dev.app.properties</param-value>
        </init-param>
        <init-param>
            <param-name>watch</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <session-config>
        <session-timeout>86400</session-timeout>
    </session-config>
    <servlet-mapping>
        <servlet-name>startup-init</servlet-name>
        <url-pattern>/gettyup</url-pattern>
    </servlet-mapping>

 <!--        <context-param>
            <param-name>quartz:shutdown-on-unload</param-name>
            <param-value>false</param-value>
        </context-param>
        <context-param>
            <param-name>quartz:wait-on-shutdown</param-name>
            <param-value>true</param-value>
        </context-param>
        <context-param>
            <param-name>quartz:start-scheduler-on-load</param-name>
            <param-value>true</param-value>
        </context-param>
        <context-param>
            <param-name>quartz:config-file</param-name>
            <param-value>/WEB-INF/quartz.properties</param-value>
        </context-param>

        <listener>
            <listener-class>
                org.quartz.ee.servlet.QuartzInitializerListener
            </listener-class>
        </listener>
 
 -->	
	

    
</web-app>