<http use-expressions="true">
    <form-login login-page="/login.jsp" default-target-url="/user.jsp"
        authentication-failure-url="/login.jsp?login_error=1"
        always-use-default-target="true" />

    <intercept-url pattern="/login.jsp" access="permitAll" />

    <logout logout-url="/index.html"
        invalidate-session="true" />

    <remember-me />

    <session-management invalid-session-url="/login.jsp?loggedout=true">
        <concurrency-control max-sessions="1"
            error-if-maximum-exceeded="false" />
    </session-management>

    <anonymous enabled='false'/>
</http>